- p = product

.col-12.col-md-6.col-lg-4.mb-3{id: "#{tag}-#{p.store.username}-#{p.name}"}
	.card.rounded-3
		.row.g-0
			.col-4
				.card-img-fluid.rounded-start.text-center
					= image_tag p.thumb rescue 'No images to display !!'
			.col-8
				.card-body
					.card-title.lead.fs-3= p.store.username
					.card-subtitle.mb-2.lead.fs-6.text-muted= p.name
					%p.card-text
					.card-text.lead.fs-5= "#{p.price} Baht."
					/ .card-text= p.description
					%small.text-muted= p.created_at
		.productDetails.btn.btn-orange_2{"data-bs-target": ".productModal", "data-bs-toggle": "modal", type: "button", "data-p-id": p.id, "data-p-name": p.name, "data-p-store-name": p.store.username, "data-p-store-id": p.store.id, "data-p-desc": p.description, 'data-p-quan': p.quantity } 
			.lead.text-white Details

		


