= simple_form_for(@store, url: find_store_path(@store)) do |f|
	.form-inputs.d-grid.gap-2
		.row.d-flex.justify-content-center
			.col-4
				.form-label.lead= "Username"
				= f.input :username, label: false, class: 'form-control'
		.row.d-flex.justify-content-center
			.col-4
				.form-label.lead= "Password"
				= f.input :password, label: false, class: 'form-control'

	.form-actions.mt-4
		.d-flex.justify-content-center
			= f.button :submit, 'Login as a store', class: "btn btn-orange_2 btn-lg rounded-pill", style: 'color: white;'	