= render 'inappNav'

.container-lg

	.row
		= render 'alert'

	.row.mt-3

	- @most_used_tags.each do |t|
		- if @products["#{t.name}"].size == 0
			- next
		.row.mb-3{id: "#{t.name}Row"}
			.display-6.text-orange.mb-3= t.name
			- @products["#{t.name}"].each do |p|
				= render 'productCard', product: p, tag: t.name

	= render 'productModal'  #<<---------------------- 


