%h1.mt-3 LogIn Page


- flash.each do |type, msg|
	- if msg != "Log in failed, wrong email or password !!"
		- next
	%div.alert.alert-danger.alert-dismissible.fade.show
		%p "#{msg}"
		%button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}


%div.mt-4
	%label.me-3 Please select an account type : 
	.btn-group.mb-2
		= link_to "Customer", cust_login_path, remote: true, for: "radio1", class: "btn btn-outline-primary active", role: "button", "aria-disabled": "true"

		= link_to "Store", store_login_path, remote: true, for: "radio2", class: "btn btn-outline-primary", role: "button", "aria-disabled": "true"

#loginForm.mb-3
	= render 'customerLogin'
 

= link_to 'Register', register_path