.navbar.navbar-expand-md.navbar-light.mx-5
	.container-fluid
		%a.navbar-brand{href: index_url}
			.display-4.fw-bold.text-orange= 'Shopee'
		%button.navbar-toggler{type: 'button', 'data-bs-toggle': 'collapse', 'data-bs-target': '#navbarNav', 'aria-controls': "navbarNav", 'aria-expanded': "false", 'aria-label': "Toggle navigation"}
			%span.navbar-toggler-icon

		#navbarNav.collapse.navbar-collapse.justify-content-end.align-center
			%ul.navbar-nav
				%li.nav-item.align-center.d-none.d-md-inline
					%a.nav_link{href: register_path, class: 'btn btn-orange_2 btn-lg rounded-pill', style: 'color: white;'} Register
				%li.nav-item.d-md-none.mt-3
					= link_to 'Register', register_path, style: 'text-decoration: none; color: grey;'





.container.lg

	= render 'alert'

	%div.mt-4
	
		%label.display-6.text-muted Select an account type : 
		.btn-group.rounded-3.ms-3
			= link_to "Customer", cust_login_path, remote: true, for: "radio1", class: "btn btn-outline-orange_2 btn-lg active", role: "button", "aria-disabled": "true"

			= link_to "Store", store_login_path, remote: true, for: "radio2", class: "btn btn-outline-orange_2 btn-lg ", role: "button", "aria-disabled": "true"

	#loginForm.my-5
		= render 'customerLogin'
	 