-# frozen_string_literal: true
= simple_form_for(@store, url: create_store_path(@store)) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs.d-grid.gap-2
    = f.input :username
    = f.input :password, label: 'Password : minimum length is 6'
    = f.input :password_confirmation
    = f.input :email
    = f.input :address
    = f.input :subDistrict
    = f.input :district
    = f.input :province
    = f.input :zipcode

  .form-actions.mt-4
    = f.button :submit, class: "btn btn-success"
    = link_to "Cancel", index_url, class: "btn btn-secondary", role: "button", "aria-disabled": "true", style: "color: white;"
