-# frozen_string_literal: true
= simple_form_for(@store) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs.d-grid.gap-2
    .form-label.lead Username
    = f.input :username, label: false, class: 'form-control'
    .row.mb-2
      .col-lg-6.col-sm-12
        .form-label.lead Password : minimum is 6 characters
        = f.input :password, label: false, class: 'form-control'
      .col-lg-6.col-sm-12
        .form-label.lead Password confirmation
        = f.input :password_confirmation, label: false, class: 'form-control'
    .form-label.lead Email
    = f.input :email, label: false, class: 'form-control'
    .row.mb-2
      .col-lg-6.col-sm-12
        .form-label.lead Address
        = f.input :address, label: false, class: 'form-control'
      .col-lg-6.col-sm-12
        .form-label.lead Subdistrict
        = f.input :subDistrict, label: false, class: 'form-control'
    .row
      .col-lg-4.col-md-12
        .form-label.lead Distinct
        = f.input :district, label: false, class: 'form-control'
      .col-lg-4.col-md-12
        .form-label.lead Province
        = f.input :province, label: false, class: 'form-control'
      .col-lg-4.col-md-12
        .form-label.lead Zipcode
        = f.input :zipcode, label: false, class: 'form-control'

  .form-actions.mt-4
    = f.button :submit, class: "btn btn-outline-orange_2 me-2"
    = link_to "Cancel", session[:store_id] ? store_path(session[:store_id]) : index_url, class: "btn btn-outline-secondary", role: "button", "aria-disabled": "true"
