- p = product

.col-12.col-md-6.col-lg-6.mb-3{id: "#{tag}-#{p.store.username}-#{p.name}"}
	.card
		.row.g-0
			.col-5
				.card-img-fluid.rounded-start= image_tag p.thumb rescue 'No images to display !!'
			.col-7
				.card-body
					%h5.card-title= p.store.username
					%h6.card-subtitle.mb-2.text-muted= p.name
					%p.card-text
					.card-text= "#{p.price} Baht."
					/ .card-text= p.description
					%small.text-muted= p.created_at
		.productDetails.btn.btn-primary{"data-bs-target": ".productModal", "data-bs-toggle": "modal", type: "button", "p-id": p.id, "p-name": p.name, "p-store-name": p.store.username, "p-store-id": p.store.id, "p-desc": p.description } Details


