%p#notice= notice

%p
  %b Order:
  = @order_item.order
%p
  %b Product:
  = @order_item.product_id
%p
  %b Quantity:
  = @order_item.quantity
%p
  %b Unit sold price:
  = @order_item.unit_sold_price

= link_to 'Edit', edit_order_item_path(@order_item)
\|
= link_to 'Back', order_items_path
