%h1 Listing products

%table#productsTab.table.table-striped.table-hover
  %thead
    %tr.table-primary
      %th Name
      %th Price
      %th Quantity
      %th Tags
      %th Picture
      %th Store
      %th
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.price
        %td= product.quantity
        %td= raw product.tag_list.map{|t| link_to t, tag_path(t) }.join(', ')
        %td= product.picture
        %td= product.store.username
        %td= button_to 'Show', product, method: :get, class: "btn btn-info"
        %td= button_to 'Edit', edit_product_path(product), method: :get, class: "btn btn-info"
        %td= button_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info"

